@import '../../../style/master.css';

.hidden {
        visibility: hidden;
}

div {
        background-color: darkgrey;
        margin-top: 15px;
        padding-bottom: 25px;
}

h1, p {
        color: white;
}

input {
	border: 2px solid darkgrey;
	border-radius: 5px;
	background-color: white;
	color: grey;
	font-family: 'Open Sans', sans-serif;
	width: 300px;
	height: 35px;

	-webkit-transition-duration: 0.4s; /* Safari */
    	transition-duration: 0.4s;
}

textarea {
	border: 2px solid darkgrey;
	border-radius: 5px;
	background-color: white;
	color: grey;
	font-family: 'Open Sans', sans-serif;
	width: 300px;
	height: 300px;

	-webkit-transition-duration: 0.4s; /* Safari */
    	transition-duration: 0.4s;
        
        ::-webkit-input-placeholder {
                color: white;
        }
        
        :-moz-placeholder {
                color: white;
        }
}