<div class="flex vertical">
        <h1>Contact Us</h1>
        <p>Kendall Work, Megan Currie, Blake Abel, Clayton Pope, Ehan Kamat, and Amir Shinawi</p>
        <p class="hidden"></p>
        <p>101 North Warson Rd. St. Louis, MO 63131</p>
        <p class="hidden"></p>
        <h1>Email Kendall Work</h1>
        <input placeholder="Subject Here" #subject />
        <textarea placeholder="Your message here (html is supported)" #body></textarea>
        <button (click)="submit($event, subject.value, body.value)">Submit</button>
</div>