<!-- views/partials/footer.ejs -->
<div id="footer">
  <p>Rampage #9911</p>
  <img src="ram.png" alt="Ram Head" style="width:158px;height:122px;">
  <div id="footer-stuff">
    <ul id="footer-links">
      <li>
        <ul id="about">
          <li><h6><a href="/about">About</a></h6></li>
        </ul>
      </li>
      <li>
        <ul id="robot">
          <li><h6><a href="/robot">Robot</a></h6></li>
        </ul>
      </li>
      <li>
        <ul id="programming">
          <li><h6><a href="/programming">Programming</a></h6></li>
        </ul>
      </li>
      <li>
        <ul id="FIRST">
          <li><h6><a href="/first">FIRST<sup>®</sup></a></h6></li>
        </ul>
      </li>
      <li>
        <ul id="contact">
          <li><h6><a href="/contact">Contact Us</a></h6></li>
        </ul>
        <ul>
                <li><h6><a href="https://termsfeed.com/terms-service/a1c48875805a31617212b6c3267e58c8">Terms of Service</a></h6></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
