<head>
	<link rel="stylesheet" href="/master.css" type="text/css">
	<style>
		.nav {
			background-color: #38393a;
			padding: 15px 0px 15px 0px;
		}

		.contacts {
			position: relative;

			background-color: grey;

			width: 175px;

			padding: 15px 0px 15px 0px;

			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
		}

		a {
			font-size: 18px;
		}

		a {
			padding-right: 7px;
			padding-left: 7px;
		}

		.home {
			font-size: 2.2em;
			font-weight: bold;
			margin-bottom: 10px;
			margin-top: 10px;
		}
	</style>
	<title>Rampage9911</title>
	<link rel="icon" type="image/x-icon" href="/icon2.ico">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<div class="flex vertical nav">
	<a class="home" href="/">Rampage Robotics - Team #9911</a>

	<!-- <img src="../../assets/ram.png" width="65px" height="50px"> -->
	<div class="flex nav">
		<a href="/about">About</a>
		<a href="/robot">Robot</a>
		<a href="/programming">Programming</a>
		<a href="/first"><i>FIRST</i><sup>®</sup></a>
		<a href="/contact">Contact</a>
	</div>
	<!-- <a href="/maillist">Subscribe to our mailing list</a> -->
</div>

<div class="contacts">
	<!-- Code from old wix site -->
	<a href="https://snapchat.com/add/technoramic" target="_blank" data-content="https://snapchat.com/add/technoramic" data-type="external" id="comp-iv2wbcul0imagelink" class="lb1imageItemlink" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_FOOTER.$centeredContent.$inlineContent.$comp-iv2wbcul.$itemsContainer.0.$link">
		<div id="comp-iv2wbcul0imageimage" class="lb1imageItemimage" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_FOOTER.$centeredContent.$inlineContent.$comp-iv2wbcul.$itemsContainer.0.$link.0">
			<div class="lb1imageItemimagepreloader" id="comp-iv2wbcul0imageimagepreloader" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_FOOTER.$centeredContent.$inlineContent.$comp-iv2wbcul.$itemsContainer.0.$link.0.$preloader"></div>
			<img id="comp-iv2wbcul0imageimageimage" alt="Snapchat - White Circle" data-type="image" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_FOOTER.$centeredContent.$inlineContent.$comp-iv2wbcul.$itemsContainer.0.$link.0.$image" src="https://static.wixstatic.com/media/2ed049070512492ca6b2c065cab87038.png/v1/fill/w_40,h_40,al_c,usm_0.66_1.00_0.01/2ed049070512492ca6b2c065cab87038.png" style="width: 40px; height: 40px; object-fit: cover;">
		</div>
	</a>

	<a href="https://twitter.com/micdsrobotics" target="_blank" data-content="https://twitter.com/micdsrobotics" data-type="external" id="comp-iv2wbcul1imagelink" class="lb1imageItemlink" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_FOOTER.$centeredContent.$inlineContent.$comp-iv2wbcul.$itemsContainer.1.$link">
		<div id="comp-iv2wbcul1imageimage" class="lb1imageItemimage" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_FOOTER.$centeredContent.$inlineContent.$comp-iv2wbcul.$itemsContainer.1.$link.0">
			<div class="lb1imageItemimagepreloader" id="comp-iv2wbcul1imageimagepreloader" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_FOOTER.$centeredContent.$inlineContent.$comp-iv2wbcul.$itemsContainer.1.$link.0.$preloader"></div>
			<img id="comp-iv2wbcul1imageimageimage" alt="Twitter - White Circle" data-type="image" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_FOOTER.$centeredContent.$inlineContent.$comp-iv2wbcul.$itemsContainer.1.$link.0.$image" src="https://static.wixstatic.com/media/c4392d634a0148fda8b7b2b0ad98293b.png/v1/fill/w_40,h_40,al_c,usm_0.66_1.00_0.01/c4392d634a0148fda8b7b2b0ad98293b.png" style="width: 40px; height: 40px; object-fit: cover;">
		</div>
	</a>

	<a href="http://www.facebook.com/Technoramic-5190-1157022120987198" target="_self" data-content="http://www.facebook.com/Technoramic-5190-1157022120987198" data-type="external" id="comp-iv2wbcul2imagelink" class="lb1imageItemlink" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_FOOTER.$centeredContent.$inlineContent.$comp-iv2wbcul.$itemsContainer.2.$link">
		<div id="comp-iv2wbcul2imageimage" class="lb1imageItemimage" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_FOOTER.$centeredContent.$inlineContent.$comp-iv2wbcul.$itemsContainer.2.$link.0">
			<div class="lb1imageItemimagepreloader" id="comp-iv2wbcul2imageimagepreloader" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_FOOTER.$centeredContent.$inlineContent.$comp-iv2wbcul.$itemsContainer.2.$link.0.$preloader"></div>
			<img id="comp-iv2wbcul2imageimageimage" alt="Facebook - White Circle" data-type="image" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_FOOTER.$centeredContent.$inlineContent.$comp-iv2wbcul.$itemsContainer.2.$link.0.$image" src="https://static.wixstatic.com/media/e0678ef25486466ba65ef6ad47b559e1.png/v1/fill/w_40,h_40,al_c,usm_0.66_1.00_0.01/e0678ef25486466ba65ef6ad47b559e1.png" style="width: 40px; height: 40px; object-fit: cover;">
		</div>
	</a>
</div>
