<div class="flex custom">
        <h1>About Us</h1>
        <em>Technoramic is a sixthyear robotics team from MICDS. Many of our members have prior experience in FTC, while a few came to us this year with little to no experience at all. Regardless of grade and robotics background, our members have developed a passion for the team and have bonded immensely.
 
Robotics is offered as an after school club at MICDS. We meet for two hours on a biweekly basis and value good sportsmanship, proper self-conduct, honestly, and gracious professionalism. We have an inexorable motivation and drive to win! </em>
        <h1>The Team</h1>
</div>

<div class="custom" id="master">
</div>