@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* mobile optimization */
@media screen and (max-width: 700px) {
        h1, h2, h3, p, em, a, li, label {
                font-size: 24px;
        }

        a {
                font-size: 50px;
        }
}

.flex {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
}

.vertical {
        flex-direction: column;
}

.centered {
        position: absolute;
        top: 50%;
        left: 50%;
        /* bring your own prefixes */
        transform: translate(-50%, -50%);

        transition: visibility 0s, opacity 0.5s linear;
}

button, input {
        background-color: #38393a;
        color: white;

        border: 3px solid #38393a;
        border-radius: 5px;

        height: 25px;
        width: 75px;

        font-size: 15px;
        -webkit-animation: fadein 1s;
}

a {
	text-decoration: none;
}

h1, h2, h3, p, em, a, li, label {
        color: white;
        font-family: 'Open Sans', sans-serif;
        -webkit-animation: fadein 2.5s;
}

@keyframes fadein {
        from { opacity: 0; }
        to { opacity: 1; }
}

body {
	margin: 0;
	background: url("/background.png") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color:rgba(0, 0, 0, 0.7);
}

div#footer {
  background: #38393a;
  width: 100%!important;
  bottom: 10;
  left: 0;
  text-align: center;
  font-size: 30;
  color: #ffffff;
  height: auto;
  padding: 0 0 10 0;
}
ul#footer-links {
  list-style-type: none;
  overflow: hidden;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: auto;
}
ul#footer-links ul {
  list-style-type: none;
  float: left;
  align: left;
  padding-left: 50;
  padding-right: 20;
  padding-top: 5;
  padding-bottom: 5;
}
ul#footer-links ul li {
  font-size: 20;
}
ul#footer-links ul li h6 {
  font-size: 40;
  margin: 10px;
}
div#footer-stuff {
  align-items: center;
  width: auto;
  max-width: 50%;
  margin: auto
}
