@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.flex {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
}

.vertical {
        flex-direction: column;
}

.centered {
        position: absolute;
        top: 50%;
        left: 50%;
        /* bring your own prefixes */
        transform: translate(-50%, -50%);
        
        transition: visibility 0s, opacity 0.5s linear;
}

button, input {
        background-color: #38393a;
        color: white;
        
        border: 3px solid #38393a;
        border-radius: 5px;
        
        height: 25px;
        width: 75px;
        
        font-size: 15px;
        -webkit-animation: fadein 1s;
}

a {
	text-decoration: none;
}

h1, h2, h3, p, em, a, li, label {
        color: white;
        font-family: 'Open Sans', sans-serif;
        -webkit-animation: fadein 2.5s;
}

@keyframes fadein {
        from { opacity: 0; }
        to { opacity: 1; }
}

body {
	margin: 0;
	background: url("/background.png") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color:rgba(0, 0, 0, 0.7);
}