<!DOCTYPE html>
<html lang="en">
        <head>
                <meta charset="utf-8">
                <% include ../partials/header %>
                <style media="screen">
                        button {
                                margin: 5px 5px 0px 0px;
                        }

                        input {
                                width: 16em;
                        }
                </style>
        </head>
        <body>
                <div class="flex vertical">
                        <input type="text" id="name" value="" placeholder="Enter a username">
                        <input type="text" id="email" value="" placeholder="Enter an email">
                        <input type="password" id="password" placeholder="Enter a password">
                        <input type="password" id="confirm" placeholder="Confirm password">
                        <button type="button" name="button">Create</button>
                </div>
        </body>
</html>
<script type="text/javascript">

</script>
