<head>
<% include ../partials/header %>

	<style>
		.custom {
			margin-top: 25px;
			margin-right: 100px;
			margin-left: 100px;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
		}

		em {
			margin: 0px 20px 0px 20px;
			letter-spacing: 1px;
		}

		div {
			-webkit-animation: fadein 1s;
		}

		h1, p {
			-webkit-animation: fadein 2s;
		}
	</style>
</head>
<div class="flex custom">
	<h1><i>FIRST</i><sup>®</sup> 	 Information</h1>
	<p>
		Our robotics team operates under <i>FIRST</i><sup>®</sup>, an organization officially known as <i>For Inspiration and Recognition of Science and Technology</i><sup>®</sup>.
		<i>FIRST</i><sup>®</sup> is a very highly rated not-for-profit charity designed to help spread motivation in STEM fields, especially robotics, among youth.
		Our team operates with all of <i>FIRST</i><sup>®</sup>'s ideals ideals in mind, such as:
		<br><br>
		<i>Gracious Professionalism</i><sup>®</sup>
		<br>
		<i>Gracious Professionalism</i> is the way <i>FIRST</i><sup>®</sup> does things.
		This idea means that one will compete fiercely, yet in victory or defeat will treat all competitors with graciousness and respect.
		<i>Gracious Professionalism</i> allows <i>FIRST</i><sup>®</sup> contests to be competitive and fun for everyone.
		<br><br>
		<i>Coopertition</i><sup>®</sup><br>
		<i>Coopertition</i><sup>®</sup> is the idea that even during competition, teams should cooperate with each other.
		At <i>FIRST</i><sup>®</sup> contests, if a team needs help, other teams will be willing to lend a helping hand.
		Even during competition, helping one's fellow STEM enthusiasts is very important.
		<br><br>
		official website url: <a href="https://www.firstinspires.org"><font color="lightblue"><i>FIRST</i><sup>®</sup> Website</a><br>
		<font color="white">the contest we do:<a href="https://www.firstinspires.org/robotics/ftc"><font color="lightblue"><i>FIRST</i><sup>®</sup> Tech Challenge</a></br>
	</p>
</div>

<div class="custom" id="master">
</div>
<footer>
	<% include ../partials/footer %>
</footer>
