<head>
<% include ../partials/header %>

<style>
.custom {
	margin-top: 25px;
	margin-left: 100px;
	margin-right: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

em {
	margin: 0px 20px 0px 20px;
	letter-spacing: 1px;
}

div {
	-webkit-animation: fadein 1s;
}

h1, p {
	-webkit-animation: fadein 2s;
}
</style>
</head>
<div class="centered">
	<h1 id="header">Welcome to our website!</h1>
	<p>
		Rampage, or Team #9911, is one of the high school co-ed FTC and Rover Ruckus Team of MICDS. Click the links above to see what we're about, see our current construction or programming progress, or contact us.
	</p>
</div>
