<head>
<% include ../partials/header %>
</head>
<div class="centered">
	<h1 id="header">Welcome to our website!</h1>
	<em>Technoramic, or Team #5190, is the high school co-ed FTC and Relic Recovery Team of MICDS. Click the links above to see what we're about, see our current construction or programming progress, or contact us. </br>-Technoramic</em>
</div>