<head>
<% include ../partials/header %>
</head>

<style media="screen">
        button {
                margin: 5px 5px 0px 0px;
        }

        input {
                width: 16em;
        }
</style>
<body>
        <div class="flex vertical">
                <input type="text" id="username" placeholder="Enter username here">
                <input type="text" id="password" placeholder="Enter password here">
                <button type="button" name="button">Login</button>
        </div>
</body>
<script type="text/javascript">
</script>
