<head>
	<% include ../partials/header %>
	<style>
		.a {
			margin-top: 1em;
		}

		#linkcontainer {
			margin-top: 2em;
		}

		.abstractpicture {
			width: 75px;
			height: 75px;
		}

		.imglink {
			background-color: grey;
			opacity: 0.9;
			width: 16em;
			height: 150px;
			padding: 5px 5px 5px 5px;
			border: 5px dashed lightgrey;
			margin-right: 7px;
		}
	</style>
</head>
<div class="flex vertical">
<h1>Programming Home</h1>

	<div class="flex vertical">
		<div class="flex vertical">
		    <p>Our Current Project Status</p>
			<a class="a" href="https://github.com/MICDSRobotics-9911/RoverRuckus2018-2019">
				<img id="travisLink" src="https://travis-ci.org/MICDSRobotics-9911/RoverRuckus2018-2019.svg?branch=master" alt="Build Status">
			</a>
		</div>

		<div class="flex" id="linkcontainer">
			<div class="imglink flex vertical">
				<a class="a" href="/wiki.html">
					<img src="/linkabstracts/markdown.svg" class="abstractpicture">
				</a>
				<p>Our programming tutorials</p>
			</div>
			<div class="imglink flex vertical">
				<a class="a" href="/docs/">
					<img class="abstractpicture" src="/linkabstracts/javadoc.svg">
				</a>
				<p>Our robot code documentation</p>
			</div>
		</div>

		<!--<div class="flex" id="linkcontainer">
		<div class="imglink flex vertical">
			<a class="a" href="/docs/robotplus">
				<img class="abstractpicture" src="/linkabstracts/javadoc.svg">
			</a>
			<p>Our robot library documentation</p>
		</div>
		<div class="imglink flex vertical">
			<a class="a" href="/changelog.txt">
				<img class="abstractpicture" src="/linkabstracts/txt.svg">
			</a>
			<p>Our project changelog</p>
			</div>
		</div>-->
	</div>
</div>
<footer>
	<% include ../partials/footer %>
</footer>
